body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 10px;
text-decoration: none;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E3FDFD;
}

li {
  float: right;
}

li a {
  display: block;
  color: #11999E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #E3FDFD;
  color: #40514E
}

a:hover{
  color: #EAF6F6;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.music-row {
margin: 100px auto 100px auto;
}

.top-container {
  background-color: #E3FDFD;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.paragraph-music{

  margin-top: 60px;

}
.footer-link {
  color: #11999E;
}

.profile-pic {
  width: 10%;
padding-bottom:20px;

}

.music-pic{
  width: 19%;
  float: left;
  margin-right: 30px;
}

.www-pic {
  width: 19%;
  float: left;
  margin-right: 30px;
}

.soccer-pic {
  width: 19%;
  float: right;
margin-left: 20px;
}

.bio-paragraph {
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright-message{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
